[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gio/Desktop/workspace]
row=3
col=0

[/home/gio/Desktop/graph-django-txt]
row=5
col=0

[/home/gio/Desktop/projectconf.zip]
row=6
col=0

[/home/gio/Desktop/code]
row=4
col=0

[/home/gio/Desktop/projectconf]
row=8
col=0

[/home/gio/Desktop/files]
row=7
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/gio]
row=2
col=0

